{% extends 'layout.html' %}
{% block title %}
<h3>Hakkimda</h3>
<hr>
<article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel molestiae, facere minus, enim tempora quaerat nobis culpa dignissimos cumque illo sapiente soluta, corporis dolor numquam quas nisi et necessitatibus quod in beatae. Corrupti vitae ea temporibus facere, quae quo in sit minima sint, cum animi accusamus minus libero nesciunt possimus. Voluptatem debitis, dolorum dolorem ut voluptatum porro repudiandae voluptate. Temporibus laudantium magnam ut corporis qui mollitia beatae. Illo id doloribus voluptas eius nam iusto necessitatibus nulla est vitae. Nam sunt explicabo vero amet ipsum quam earum itaque doloremque ullam obcaecati mollitia et dicta totam cum quae, libero, facilis hic animi!</article>
<hr>

{% endblock title %}